.list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 20px 0px;
  justify-items: center;
}

.list-pagination {
  width: fit-content;
  display: flex;
  padding: 20px;
}

.list-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.list-header-filter {
  display: flex;
  justify-content: end;
  width: 50%;
  padding: 20px 20px;
}

.list-header-filter-item {
  min-width: 35% !important;
  max-width: 20rem !important;
  padding-right: 5px !important;
}

@media screen and (max-width: 768px) {
  .list-header {
    flex-direction: column;
  }

  .list-content{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .list-header-filter {
    box-sizing: border-box;
    padding: 10px 10px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .list-header-filter-item {
    
    min-width: 100% !important; 
    max-width: 100% !important;
    padding: 0px !important;
  }
  
}