/* Add local font  */

@font-face {
  font-family: "Pokemon Hollow";
  src: url("./font/Pokemon\ Hollow.ttf");
}

@font-face {
  font-family: "Pokemon Solid";
  src: url("./font/Pokemon\ Solid.ttf");
}

.background {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.background-image {
  background: url("./images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
}

.App-header {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;
}

.pokedex{
  height: 70px;
  padding: 0px 20px;
}

.card {
  width: 300px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

@media screen and (max-width: 425px) {
  .App-body {
    padding: 20px;
  }


  .pokedex {
    height: 0px;
  }
  
}